.card {
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
    width: 300px;
}

.card * {
    width: 80%;
    margin: 0 auto;
}

.card-image {
    border-radius: 10px;
    margin-bottom: .25rem;
}

.card-link {
    font-weight: bold;
    text-decoration: none;
}

.attribution {
    color: white;
    background-color: black;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
}

.attribution-link {
    text-decoration: none;
    color: white;
}