/* PAGE CSS & VARIABLES */
html {
    background-color: var(--secondary-bg);
    font-family: "Outfit", sans-serif;
    --main-color: #000;
    --secondary-color: #777;
    --main-bg: #fff;
    --secondary-bg: #ddd;
    --shadow: #aaa;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

/* ANIMATION */
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(-10rem);
    }

    to {
        opacity: 1;
    }
}

/* CONTENT */
.container {
    width: 50%;
    margin: 0 auto;
}

.card-item {
    animation-name: fadein;
    animation-duration: 1s;
    align-items: center;
    background-color: var(--main-bg);
    border-radius: 20px;
    box-shadow: .1rem .1rem 1rem var(--shadow);
    display: flex;
    margin: 1rem 0;
    padding: 1rem;
    text-decoration: none;
    transition: transform .2s;
}

.card-item:hover {
    transform: scale(1.01);
}

.card-item__thumbnail img {
    height: 72px;
    width: 72px;
}

.card-item__name {
    font-size: 1.25rem;
    font-weight: 700;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    margin-left: .75rem;
}

.card-item__content * {
    margin: 0;
}

.card-item__description {
    color: var(--secondary-color)
}

/* FOOTER */
footer a,
footer a:visited {
    text-decoration: underline;
    color: white;
}

.attribution {
    background-color: #777;
    color: white;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.attribution-link {
    text-decoration: none;
}